<div>
  <div>
    <h1>
      Your Sports
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new sport</h2>

    <form action="/insert_sport" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add sport
      </button>
    </form>
  </div>
</div>

<hr>
<h2>Performance by sport</h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Bets Placed</th>
        <th>Bets Won</th>
        <th>Bets Lost</th>
        <th>Bets Pending</th>
        <th>Balance</th>
        <th>Yield</th>
        <th></th>
      </tr>

      <% @list_of_sports.each do |a_sport| %>
      <tr>
        <% bets = Bet.joins(:sport).where(sports: { id: a_sport.id }) %>
        <td><%= a_sport.name %></td>
        <td><%= bets.count %></td>
        <td><%= Bet.count_by_status(bets, "won") %></td>
        <td><%= Bet.count_by_status(bets, "lost") %></td>
        <td><%= Bet.count_by_status(bets, "pending") %></td>
        <td>$ <%= Bet.total_balance(bets).round(2) %></td>
        <td><%= Bet.total_yield(bets).round(1) %> % </td>

        <td>
          <a href="/sports/<%= a_sport.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
