<div>
  <div>
    <h1>
      Sport #<%= @the_sport.id %> details
    </h1>

    <div>
      <div>
        <a href="/sports">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_sport/<%= @the_sport.id %>">
          Delete sport
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_sport.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_sport.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_sport.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit sport
    </h2>

    <form action="/modify_sport/<%= @the_sport.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_sport.name %>">
      </div>

      <button>
        Update sport
      </button>
    </form>
  </div>
</div>

<hr>
