<div>
  <div>
    <h1>Welcome to SmartBets</h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new bet</h2>

<% if params[:query_sport_id].blank? %>
<form action="/insert_bet1" method="post">
      <div>
        <label for="sportsbook_id">Sportsbook</label>
        <select id="sportsbook_id" name="query_sportsbook_id">
          <option value="">Select an existing sportsbook</option>
          <% Sportsbook.all.each do |sportsbook| %>
            <option value="<%= sportsbook.id %>"><%= sportsbook.name %></option>
          <% end %>
        </select>
        <p>... or click <a href="/sportsbooks">here</a> to create a new one</p>
      </div>

      <div>
        <label for="sport_id">Sport</label>
        <select id="sport_id" name="query_sport_id">
          <option value="">Select an existing sport</option>
          <% Sport.all.each do |sport| %>
            <option value="<%= sport.id %>"><%= sport.name %></option>
          <% end %>
        </select>
        <p>... or click <a href="/sports">here</a> to create a new one</p>
      </div>
      <button>
        Next
      </button>
      </form>

      <% elsif params[:query_event_id].blank? %>
      <div>Sportsbook: <%= Sportsbook.find(params[:query_sportsbook_id]).name %></div>
      <div>Sport: <%= Sport.find(params[:query_sport_id]).name %></div>
      <form action="/insert_bet2" method="post">

        <input type="hidden" name="query_sportsbook_id" value="<%= params[:query_sportsbook_id] %>">
        <input type="hidden" name="query_sport_id" value="<%= params[:query_sport_id] %>">
        
        <div>
        <label for="event_id">Event</label>
        <select id="event_id" name="query_event_id">
          <option value="">Select an existing event</option>
          <% Event.where(sport_id: params[:query_sport_id]).each do |event| %>
            <option value="<%= event.id %>"><%= event.name %></option>
          <% end %>
        </select>
        <p>... or click <a href="/events">here</a> to create a new one</p>
      </div>

      <div>
        <label for="name_box">Name</label>
        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="odds_box">
          Odds
        </label>
        <input type="text" id="odds_box" name="query_odds">
      </div>

      <div>
        <label for="stake_box">
          Stake
        </label>
        <input type="text" id="stake_box" name="query_stake">
      </div>
    <button>
        Next
      </button>
    </form>

    <% else %>
  
    <% odds = params.fetch("query_odds").to_f %>
    <% stake = params.fetch("query_stake").to_f %>
    <% if odds > 99 %>
    <%   payout = stake*odds/100 %>
    <%   implied_odds = 100/(odds+100) %>
    <% elsif odds < -100 %>
    <%   payout = stake*100/(-odds) %>
    <%   implied_odds = (-odds)/(100-odds) %>
    <% end %>
    <% yield_roi = 100*payout/stake %>

      <div>Sportsbook: <%= Sportsbook.find(params[:query_sportsbook_id]).name %></div>
      <div>Sport: <%= Sport.find(params[:query_sport_id]).name %></div>
      <div>Event: <%= Event.find(params[:query_event_id]).name %></div>
      <div>Name: <%= params[:query_name] %></div>
      <div>Odds: <%= params[:query_odds] %></div>
      <div>Stake: <%= params[:query_stake] %></div>
      <hr>
      <div>Implied Odds: <%= implied_odds %></div>
      <div>Pontential Payout: $<%= payout %></div>
      <div>Yield: <%= yield_roi %>%</div>
      <hr>
      <form action="/insert_bet3" method="post">

    <input type="hidden" name="query_sportsbook_id" value="<%= params[:query_sportsbook_id] %>">
    <input type="hidden" name="query_sport_id" value="<%= params[:query_sport_id] %>">
    <input type="hidden" name="query_event_id" value="<%= params[:query_event_id] %>">
    <input type="hidden" name="query_name" value="<%= params[:query_name] %>">
    <input type="hidden" name="query_odds" value="<%= params[:query_odds] %>">
    <input type="hidden" name="query_stake" value="<%= params[:query_stake] %>">
      <div>
        <label for="status_menu">
          Status
        </label>
        <select id="status_menu" name="query_status">
          <option value="">Select a status</option>
        <% Bet::VALID_STATUSES.each do |status| %>
        <option value="<%= status %>"><%= status.humanize %></option>
      <% end %>
        </select>
      </div>
    <button>
        Create bet
      </button>
    </form>
    <% end %>

  </div>
</div>

<hr>
   <h2>Your performance</h2>
   <% balance = Bet.payout.sum %>
   <div>Total Balance: <%= balance %></div>
   <div>Yield: <%= 100*balance/Bet.where(status != "Pending").stake.sum %>%
   <div>Bets Placed: <%= Bet.where(status: != "Not Placed").count %></div>
   <div>Bets Won: <%= <%= Bet.where(status: "Won").count %></div>
   <div>Bets Lost: <%= S<%= Bet.where(status: "Lost").count %></div>
   <div>Bets Pending: <%= Bet.where(status: "Pending").count %></div>

<hr>
<h2>All your bets</h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Event</th>
        <th>Name</th>
        <th>Sportsbook</th>
        <th>Odds</th>
        <th>Status</th>
        <th>Payout</th>
        <th>Created at</th>
        <th></th>
      </tr>

      <% @list_of_bets.each do |a_bet| %>
      <tr>

        <td>
          <%= a_bet.sport.name %>
        </td>

        <td>
          <%= a_bet.event.name %>
        </td>

        <td>
          <%= a_bet.name %>
        </td>

        <td>
          <%= a_bet.sportsbook.name %> 
        </td>

        <td>
          <%= a_bet.odds %>
        </td>

        <td>
          <%= a_bet.status %>
        </td>

        <td>
          PAYOUT
        </td>

        <td>
          <%= time_ago_in_words(a_bet.created_at) %> ago
        </td>

        <td>
          <a href="/bets/<%= a_bet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
