<div>
  <div>
    <h1>
      <%= @the_bet.name %>
    </h1>
    <h2>
      at <%= @the_bet.event.name %> 
    </h2>

    <div>
      <div>
        <a href="/bets">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bet/<%= @the_bet.id %>">
          Delete bet
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Sportsbook
      </dt>
      <dd>
        <%= @the_bet.sportsbook.name %>
      </dd>

      <dt>
        Odds
      </dt>
      <dd>
        <%= @the_bet.odds %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_bet.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bet
    </h2>

    <form action="/modify_bet/<%= @the_bet.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_bet.name %>">
      </div>

      <div>
        <label for="odds_box">
          Odds
        </label>

        <input type="text" id="odds_box" name="query_odds" value="<%= @the_bet.odds %>">
      </div>

      <div>
        <label for="status_menu">
          Status
        </label>
        <select id="status_menu" name="query_status">
          <option value="">Select a status</option>
        <% Bet::VALID_STATUSES.each do |status| %>
        <option value="<%= status %>"><%= status.humanize %></option>
      <% end %>
        </select>
      </div>

      <button>
        Update bet
      </button>
    </form>
  </div>
</div>

<hr>
