<div>
  <div>
    <h1>
      <%= @the_bet.name %>
    </h1>
    <h3>
      at <%= @the_bet.event.name %> 
    </h3>

    <div>
      <div>
        <a href="/bets">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bet/<%= @the_bet.id %>">
          Delete bet
        </a>
      </div>
    </div>
<hr>
<div>Sportsbook: <strong> <%= @the_bet.sportsbook.name %> </strong> </div>
<div>Odds: <strong> <%= @the_bet.odds %> </strong> </div>
<div>Stake: <strong> $ <%= @the_bet.stake %> </strong> </div>
<div>Created at: <strong> <%= time_ago_in_words(@the_bet.created_at) %> ago </strong> </div>
<hr>
<div>Status: <strong> <%= @the_bet.status.humanize %> </strong> </div>
<% if @the_bet.status == "pending"%>
<div>Implied Probability: <strong> <%= (100*@the_bet.implied_odds).round(1) %> %</strong> </div>
<div>Potential Payout: <strong> $ <%= @the_bet.potential_payout.round(2) %> </strong> </div>
<div>Potential Yield: <strong> <%= @the_bet.potential_yield.round(1) %> %</strong> </div>
<% else %>
<div>Payout: <strong> $ <%= @the_bet.payout.round(2) %> </strong> </div>
<div>Yield: <strong> <%= @the_bet.yield_roi.round(1) %> %</strong> </div>
<% end %>

</div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bet
    </h2>

    <form action="/modify_bet/<%= @the_bet.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_bet.name %>">
      </div>

      <div>
        <label for="odds_box">
          Odds (American-style)
        </label>

        <input type="number" id="odds_box" name="query_odds" value="<%= @the_bet.odds %>">
      </div>

      <div>
        <label for="stake_box">
          Stake
        </label>
        <input type="number" id="stake_box" name="query_stake" value="<%= @the_bet.stake %>">
      </div>

      <div>
        <label for="status_menu">
          Status
        </label>
        <select id="status_menu" name="query_status">
          <option value="">Select a status</option>
        <% Bet::VALID_STATUSES.each do |status| %>
        <option value="<%= status %>"><%= status.humanize %></option>
      <% end %>
        </select>
      </div>

      <button>
        Update bet
      </button>
    </form>
  </div>
</div>

<hr>
