<div>
  <div>
    <h1>
      Your Events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="sport_id">Sport</label>
        <select id="sport_id" name="query_sport_id">
          <option value="">Select an existing sport</option>
          <% Sport.all.each do |sport| %>
            <option value="<%= sport.id %>"><%= sport.name %></option>
          <% end %>
        </select>
        <p>... or click <a href="/sports">here</a> to create a new one</p>
      </div>
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add event
      </button>
    </form>
  </div>
</div>

<hr>
<h2>Upcoming Events<h2>U
<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Name</th>
        <th>Date</th>
        <th>Bets Placed</th>
        <th>Total Stake</th>
        <th>Potential Payout</th>
        <th></th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td> <%= an_event.sport.name %> </td>
        <td> <%= an_event.name %> </td>
        <td> <%= an_event.name %> </td>
        <td> <%= Bet.where(event_id: an_event.id).stake.sum %> </td>
        <td> <%= Bet.where(event_id: an_event.id).stake.sum %> </td>
        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2>Past Events<h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Name</th>
        <th>Date</th>
        <th>Bets Placed</th>
        <th>Bets Won</th>
        <th>Bets Lost</th>
        <th>Bets Pending</th>
        <th>Balance</th>
        <th></th>

      </tr>
      <% @list_of_events.each do |an_event| %>
      <tr>
        <td> <%= an_event.sport.name %> </td>
        <td> <%= an_event.name %> </td>
        <td> <%= an_event.name %> </td>
        <td>Total</td>
        <td>Won</td>
        <td>Lost</td>
        <td>Pending</td>
        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

<hr>
