<div>
  <div>
    <h1>
      Your Events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Add a new event</h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="sport_id">Sport</label>
        <select id="sport_id" name="query_sport_id">
          <option value="">Select an existing sport</option>
          <% Sport.all.each do |sport| %>
            <option value="<%= sport.id %>"><%= sport.name %></option>
          <% end %>
        </select>
        <div>... or click <a href="/sports">here</a> to create a new one</div>
      </div>
      <div>
        <label for="name_box">
          Name
        </label>
        <input type="text" id="name_box" name="query_name">
      </div>
      <div>
        <label for="date_box">
          Name
        </label>
        <input type="date" id="date_box" name="query_date">
      </div>

      <button>
        Add event
      </button>
    </form>
  </div>
</div>

<hr>
<h2>Upcoming Events</h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Name</th>
        <th>Date</th>
        <th>Bets Placed</th>
        <th>Total Stake</th>
        <th>Potential Payout</th>
        <th></th>
      </tr>
      <% @list_of_events.where("date >= ?", Date.today).each do |an_event| %>
      <tr>
        <td> <%= an_event.sport.name %> </td>
        <td> <%= an_event.name %> </td>
        <td> <%= an_event.date %> </td>
        <% event_bets = Bet.where(event_id: an_event.id) %>
        <td> <%= event_bets.count%> </td>
        <td>$ <%= Bet.total_stake(event_bets).round(2) %> </td>
        <td>$ <%= Bet.total_potential(event_bets).round(2) %> </td>
        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h2>Past Events</h2>
<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Name</th>
        <th>Date</th>
        <th>Bets Placed</th>
        <th>Bets Won</th>
        <th>Bets Lost</th>
        <th>Bets Pending</th>
        <th>Balance</th>
        <th></th>

      </tr>
      <% @list_of_events.where("date < ?", Date.today).each do |an_event| %>
      <tr>
        <td> <%= an_event.sport.name %> </td>
        <td> <%= an_event.name %> </td>
        <td> <%= an_event.date %> </td>
        <% event_bets = Bet.where(event_id: an_event.id) %>
        <td> <%= event_bets.count%> </td>
        <td> <%= Bet.count_by_status(event_bets, "won") %> </td>
        <td> <%= Bet.count_by_status(event_bets, "lost") %> </td>
        <td> <%= Bet.count_by_status(event_bets, "pending") %> </td>
        <td>$ <%= Bet.total_balance(event_bets).round(2) %> </td>
        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
