<div>
  <div>
    <h1>
      Event <%= @the_event.name %>
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_event/<%= @the_event.id %>">
          Delete event
        </a>
      </div>
    </div>
<hr>

<div>
  <div>
    <h2>
      Edit event
    </h2>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_event.name %>">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>
        <input type="date" id="date_box" name="query_date" value="<%= @the_event.date %>">
      </div>

      <button>
        Update event
      </button>
    </form>
  </div>
</div>

<hr>
<h2>Your performance</h2>

   <% bets = Bet.where(event_id: @the_event.id ) %>
   <div>Total Balance: <strong>$ <%= Bet.total_balance(bets).round(2) %></strong> </div>
   <div>Yield: <strong><%= Bet.total_yield(bets.where.not(status: 'pending')).round(1) %> %</strong> </div>
   <div>Bets Placed: <strong><%= bets.count %></strong> </div>
   <div>Bets Won: <strong><%= Bet.count_by_status(bets, "won") %></strong></div>
   <div>Bets Lost: <strong><%= Bet.count_by_status(bets, "lost") %></strong> </div>
   <div>Bets Pending: <strong><%= Bet.count_by_status(bets, "pending") %></strong></div>
<hr> 
<h2>Your bets</h2>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Sport</th>
        <th>Event</th>
        <th>Name</th>
        <th>Sportsbook</th>
        <th>Odds</th>
        <th>Stake</th>
        <th>Status</th>
        <th>Payout</th>
        <th>Created at</th>
        <th></th>
      </tr>
      <% bets.each do |a_bet| %>
      <tr>
        <td><%= a_bet.sport.name %></td>
        <td><%= a_bet.event.name %></td>
        <td><%= a_bet.name %></td>
        <td><%= a_bet.sportsbook.name %> </td>
        <td><%= a_bet.odds %></td>
        <td>$ <%= a_bet.stake %></td>
        <td><%= a_bet.status.humanize %></td>
        <td>$ <%= a_bet.payout.round(2) %></td>
        <td><%= time_ago_in_words(a_bet.created_at) %> ago</td>

        <td>
          <a href="/bets/<%= a_bet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
